<h2> Your Search Results </h2>

<p>
  This is <b> Step #2 </b> of a form submission process
  (receiving the information submitted by the user).
</p>

<p> You searched for <i> <%= theSearch %> </i>. </p>

<ol>
  <li>
    SPONSORED:
    <a href="http://nizaroni.pizza"> nizaroni.pizza </a>
  </li>
  <li> <a href="https://giphy.com"> giphy.com </a> </li>
  <li> <a href="https://www.reddit.com"> reddit.com </a> </li>
</ol>

<img src="/images/search.gif">
